body {
    font-family: 'IM Fell English', fantasy, serif;
    font-size: 14pt;
    background: url("images/wood.png");
    padding-right: 250px;
    line-height: 130%;
}

h1 {
    font-family: plainblacknormal;
    font-size: 42pt;
    font-weight: normal;
    margin: 30px;
    color: #eee;
    line-height: 70px;
    text-shadow: #000 0px 0px 6px,#000 0px 0px 6px,#000 0px 0px 6px,#000 0px 0px 6px;
}
input[type=password] {
    font-family: fantasy;
}

footer {
    color: #888;
    text-shadow: #000 0px 0px 3px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.sidebar {
    position: absolute;
    top: 120px;
    right: 20px;
    width: 220px;
}

.form,.record,.edit {
    display: block;
    margin: 10px;
    background: url("images/parchment.jpg");
    box-shadow: #000 3px 3px 6px;
    border: 1px solid black;
}
.form {
    margin: 20px;
    padding: 10px;
}
.record {
    margin-top: 30px;
    padding: 15px;
    padding-bottom: 20px;
}
.footer, .header {
    margin-top: 10px;
    padding: 10px;
    padding-left: 30px;
    color: #888;
    text-shadow: #000 0px 0px 3px;
}


input, select {
    font: inherit;
    padding: 3px;
}

input#nr {
    width: 50px;
}

.edit {
    padding: 10px;
}
.edit input#name {
    width: 100%;
    height: 60px;
    font-size: 20pt;
    background: transparent;
    padding: 0px;
    border:0px;
    margin-bottom:10px;
}
.edit textarea {
    font-family: serif;
    font-size: 14pt;
    width: 100%;
    background: transparent;
    padding: 0px;
    border:0px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.edit input[type=text] {
    width: 100%;
    background: transparent;
    padding: 0px;
    border:0px;
    border-bottom: 1px solid #000000;
    margin: 6px 0px;
}

#message {
    float: right;
    color: #B00300;
    font-weight: bold;
}
